h1 {
    color: rgb(53, 68, 234);
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    width: 100%;
    min-height: 98.5%;
    /* padding-bottom: 80px; */
    box-sizing: inherit;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 20px;
    align-items: center;
}

footer {
    background-color: rgba(95, 165, 117, 0.479);
    font-size: 17.5px;
    padding: 25px;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

/* home.html CSS */


/* contact.html */


/* about.html */


/* booking.html */

.booking {
    width: 100%;
    height: auto;
    padding: 5px 0;
    text-align: justify;
}