#deletebooking {
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
    height: 100px;
    width: 100%;
    font-family: 'Lobster', cursive;
}


p {
    font-size: 50px;
    text-align: center;
    font-family: 'Lobster', cursive;
}