table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 18px;
    margin: 10px;
    padding: 10px;
}

table {
    width: 98%;
    text-align: center;
}

td {
    vertical-align:middle;
    cursor: pointer;
}

th {
    background-color: rgba(95, 165, 117, 0.479);
}

tr:hover{
    background-color: rgba(0, 0, 255, 0.300);
}

td {
    cursor: pointer;
}

#no_flights {
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
    height: 100px;
    width: 100%;
    font-family: 'Lobster', cursive;
}

#warning_logo {
    width: 50px;
    height: 50px;
    margin: 0 20px;
}