{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<header>
    {% include 'navbar.html' %}
</header>
<body>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
</body>
<footer>
    Copyright &copy;
    <script>document.write(new Date().getFullYear())</script> SkyWing
</footer>
</html>