{% extends 'base.html' %}
{% load static %}

{% block title %}
Flight Booking
{% endblock %}

{% block body %}

<h2>Booking Details</h2>
<form method="post" action="{% url 'booking' %}">
   {% csrf_token %}
  <label for="flight_number">Flight Number:</label>
  <input type="text" name="flight_number" id="flight_number" value="{{ flight_number }}" readonly><br>
  
  <label for="airline">Airline:</label>
  <input type="text" name="airline" id="airline" value="{{ airline }}" readonly><br>
  
  <label for="aircraft_type">Aircraft Type:</label>
  <input type="text" name="aircraft_type" id="aircraft_type" value="{{ aircraft_type }}" readonly><br>
  
  <label for="departure_city">Departure City:</label>
  <input type="text" name="departure_city" id="departure_city" value="{{ departure_city }}" readonly><br>
  
  <label for="departure_airport">Departure Airport:</label>
  <input type="text" name="departure_airport" id="departure_airport" value="{{ departure_airport }}" readonly><br>
  
  <label for="arrival_city">Arrival City:</label>
  <input type="text" name="arrival_city" id="arrival_city" value="{{ arrival_city }}" readonly><br>
  
  <label for="arrival_airport">Arrival Airport:</label>
  <input type="text" name="arrival_airport" id="arrival_airport" value="{{ arrival_airport }}" readonly><br>
  
  <label for="seat_capacity">Seat Capacity:</label>
  <input type="text" name="seat_capacity" id="seat_capacity" value="{{ seat_capacity }}" readonly><br>
  
  <label for="departure_time">Departure Time:</label>
  <input type="text" name="departure_time" id="departure_time" value="{{ departure_time }}" readonly><br>
  
  <label for="arrival_time">Arrival Time:</label>
  <input type="text" name="arrival_time" id="arrival_time" value="{{ arrival_time }}" readonly><br>
  
  <button type="submit">Confirm Booking</button>
</form>

{% endblock %}