{% extends 'base.html' %}
{% load static %}

{% block title %}
Delete Successful
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/deletebooking.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div id="delete_booking">
    <center><p>Delete Successful</p></center>
  </div> 
{% endblock %}