{% extends 'base.html' %}
{% load static %}

{% block title %}
SkyWing
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script src="{% static 'js/home.js' %}" defer></script>
{% endblock %}

{% block body %}
<div class="content">
    <div id="vanta_container">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.birds.min.js"></script>
        <script>
            VANTA.BIRDS({
                el: "#vanta_container",
                mouseControls: true,
                touchControls: true,
                gyroControls: false,
                minHeight: 200.00,
                minWidth: 200.00,
                scale: 1.00,
                scaleMobile: 1.00,
                backgroundColor: 0xffffff
            })
        </script>
        <div class="tab-container">
            <div class="button-container">
                <button class="tab-btn active">Flights</button>
                <button class="tab-btn">My Bookings</button>
                <!-- <button class="tab-btn">Flight Status</button> -->
            </div>
            <div class="tab-content">
                <div id="flight" class="content-page active">
                    <div class="flight-title">
                        <p>Flights</p>
                    </div>
                    <form action="{% url 'search_flights' %}" method="post">
                        {% csrf_token %}
                        <div id="flight-tab">
                            <select name="departure_city" id="departure_city" class="tab-content-btn" required>
                                <option value="">Departure</option>
                                {% for city in departure_cities %}
                                <option value="{{ city }}">{{ city }}</option>
                                {% endfor %}
                            </select>

                            <select name="arrival_city" id="arrival_city" class="tab-content-btn" required>
                                <option value="">Arrival</option>
                                {% for city in arrival_cities %}
                                <option value="{{ city }}">{{ city }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <input type="submit" value="Search Flights" class="tab-content-btn" class="submit"
                            id="home-submit">
                    </form>
                </div>


                <div id="my-booking" class="content-page">
                    <div class="my-bookings-title">
                        <p>My Bookings</p>
                    </div>
                    <form action="{% url 'my_booking' %}" method="post">
                        {% csrf_token %}
                        <div id="my-bookings-tab">
                            <input type="text" name="pnr_number" id="pnr_number" class="tab-content-btn" ,
                                placeholder="PNR Number" required>
                            <input type="text" name="passenger_first_name" id="passenger_first_name"
                                class="tab-content-btn" , placeholder="Passenger First Name">
                        </div>
                        <input type="submit" value="Search My Flights" class="submit" id="home-submit">
                    </form>
                </div>


                <!-- <div id="flight-status" class="content-page">
                    <div class="flight-status-title">
                        <p>Flight Status</p>
                    </div>
                    <form action="{% url 'flight_status' %}" method="post">
                        {% csrf_token %}
                        <div id="flight-stauts-tab">
                            <input type="text" name="flight_number" id="flight_number" class="tab-content-btn" ,
                                placeholder="Flight Number">

                            <select name="departure" class="tab-content-btn" id="status-departure">
                                <option value="">Departure</option>
                                {% for city in departure_cities %}
                                <option value="{{ city }}">{{ city }}</option>
                                {% endfor %}
                            </select>

                            <input type="date" name="date" id="date" class="tab-content-btn">

                        </div>
                        <input type="submit" value="SUBMIT" class="submit" class="flight-tab-btn" id="home-submit">
                    </form>
                </div> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}