{% extends 'base.html' %}
{% load static %}

{% block title %}
SkyWing
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script src="{% static 'js/home.js' %}" defer></script>
{% endblock %}

{% block body %}
<div class="content">
    <div id="vanta_container">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.birds.min.js"></script>
        <script>
            VANTA.BIRDS({
                el: "#vanta_container",
                mouseControls: true,
                touchControls: true,
                gyroControls: false,
                minHeight: 200.00,
                minWidth: 200.00,
                scale: 1.00,
                scaleMobile: 1.00,
                backgroundColor: 0xffffff
            })
        </script>
        <div class="tab-container">
            <div class="button-container">
                <button class="tab-btn active">Flights</button>
                <button class="tab-btn">My Bookings</button>
                <button class="tab-btn">Flight Status</button>
            </div>
            <div class="tab-content">
                <div id="flight" class="content-page active">
                    <div class="flight-title">
                        <p>Flights</p>
                    </div>
                    <div id="flight-tab">
                        <form action="{% url 'search_flights' %}" method="post">
                            {% csrf_token %}
                            <select name="departure_city" id="departure_city" class="tab-content-btn">
                                <option value="">Departure</option>
                                {% for city in departure_cities %}
                                <option value="{{ city }}">{{ city }}</option>
                                {% endfor %}
                            </select>

                            <select name="arrival_city" id="arrival_city" class="tab-content-btn">
                                <option value="">Arrival</option>
                                {% for city in arrival_cities %}
                                <option value="{{ city }}">{{ city }}</option>
                                {% endfor %}
                            </select>

                            <input type="date" class="tab-content-btn" id="date">

                            <input type="text" name="no_of_passengers" class="tab-content-btn" id="no_of_passengers"
                                placeholder="Number Of Passengers">

                    </div>
                    <input type="submit" value="Search Flights" class="submit" id="home-submit">
                    </form>
                </div>
                

                <div id="my-booking" class="content-page">
                    <div class="my-bookings-title">
                        <p>My Bookings</p>
                    </div>
                    <div id="my-bookings-tab">
                        <input type="text" name="ticket_number" id="ticket_number" class="tab-content-btn" ,
                            placeholder="Ticket Number">
                        <input type="text" name="passenger_first_name" id="passenger_first_name" class="tab-content-btn"
                            , placeholder="Passenger First Name">
                    </div>
                    <button type="submit" class="submit" class="flight-tab-btn" id="home-submit"
                        onclick="location.href='{% url 'my_bookings' %}'"><span></span>SUBMIT</button>
                </div>


                <div id="flight-status" class="content-page">
                    <div class="flight-status-title">
                        <p>Flight Status</p>
                    </div>
                    <div id="flight-stauts-tab">
                        <input type="text" name="flight_number" id="flight_number" class="tab-content-btn" ,
                            placeholder="Flight Number">

                        <select name="departure" class="tab-content-btn" id="status-departure">
                            <option value="">Departure</option>
                            {% for city in departure_cities %}
                            <option value="{{ city }}">{{ city }}</option>
                            {% endfor %}
                        </select>

                        <input type="date" name="date" id="date" class="tab-content-btn">
                    </div>
                    <button type="submit" class="submit" class="flight-tab-btn" id="home-submit"
                        onclick="location.href='{% url 'flight_status' %}'"><span></span>SUBMIT</button>
                </div>


            </div>
        </div>
    </div>
</div>
{% endblock %}